header{
    display: block;
    .logo{
        max-width: 15rem;
        display: block;
        margin: 2rem auto;  
        padding: 2rem;
        img{
            border-radius: 50%;
        }
     }
}


