header{
    display: block;
    .logo{
        width: 150px;
        display: block;
        margin: 2rem auto;  
        padding: 2rem 0;
        img{
            border-radius: 50%;
        }
     }
}


