@use "variables";

nav {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
  ul li {
    display: inline-block;
    padding: 10px 16px;
    cursor: pointer;
    font-size: clamp(0.8rem, 1vw + 0.5rem, 1.5rem);
    &:hover {
      color: variables.$secondary;
    }
  }
  a {
    display: flex;
    span {
      padding: 10px 16px;
      font-size: clamp(0.8rem, 1vw + 0.5rem, 1.5rem);
    }
    p {
      font-size: clamp(1rem, 1vw + 1.2rem, 2rem);
    }
  }
}

.container {
  width: 80%;
  margin: 0 auto;
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    li {
      border: 1px solid variables.$primary-text;
    }
  }
  .product-container{
    cursor: pointer;
  }

  .price-container{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    button{
        margin: 0 20px ;
        padding: 5px;
        background-color: variables.$primary;
        color: variables.$primary-text;
        cursor: pointer;
        border: 1px solid;
        &:hover{
            color: variables.$secondary;
            border: none;
        }
    }
    p{
        margin: 0 20px;
        padding: 5px;
    }
  }

  .name{
    padding:10px;
  }
}